html {
    scroll-behavior: smooth;
}

body {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    background-color: #161616;
    color: #FFFFF3;
}

/* Reusable */
section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 8dvh;
}

h2 {
    font-size: 2em;
    color: #c9a856;
    text-align: center;
    font-weight: 600;
    margin: 30px 0 10px 0;
    margin: 10px;
    display: inline-block;
}

.second-heading {
    color: #FFFFF3;
    padding-bottom: 20px;
}



/* CTA tlačítko */
.cta-button {
    background: #c9a856;
    color: #161616;
    padding: 10px 20px;
    border-radius: 18px;
    border: solid 2px#c9a856;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.cta-button:hover {
    background: rgb(230, 194, 122);
    transform: scale(1.05);
    border: solid 2px#c9a856;
}




header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #161616e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    height: 8dvh;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 10vh;
}



/** NAV BAR **/
nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFF3;
    font-size: 18px;
    transition: 0.5s;
}

nav ul li a:hover {
    color: #c9a856;
    transition: 0.5s;
}



/** BURGER MENU  **/
.burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1100;
    height: 21px;
}

.burger-menu .bar {
    width: 30px;
    height: 4px;
    background-color: #FFFFF3;
    border-radius: 5px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Animace křížku */
.burger-menu.active .bar:nth-child(1) {
    transform: translateY(8.5px) rotate(48deg);
}

.burger-menu.active .bar:nth-child(2) {
    opacity: 0; /* Skrytí prostřední čáry */
}

.burger-menu.active .bar:nth-child(3) {
    transform: translateY(-8.5px) rotate(-43deg);
}



/* Landing page */
#home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 89dvh;
    background: linear-gradient(to right, rgb(230, 194, 122) 10%, rgba(0, 0, 255, 0)), url('../images/home-photo.jpg');
    background-size: cover;
    background-position: center;
    padding-left: 5%;
    margin: 8dvh 3dvh 3dvh 3dvh;
    color: #FFFFF3;
    border-radius: 18px;
}

#home h1 {
    font-size: 3.5em;
    font-weight: 500;
}

#home p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

#home .cta-button {
    margin-left: 0;
    margin-right: 7px;
}

.home-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: 20px;
}



/* O nás */
#about {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#about h2 {
    padding-bottom: 10px;
}

#about-text {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 25px;
}

#about-main-heading {
    margin: 30px 0 10px 0;
}

#about-text p {
    text-align: justify;
}

.team-container {
    text-align: center;
}

.team-container h2 {
    margin: 30px 0 10px 0;
}

.employee-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.employee {
    width: 300px;
    height: 450px;
    position: relative;
    background: #222222;
    border-radius: 18px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.employee:hover {
    transform: scale(1.05);
}

.employee-image {
    position: relative;
    width: 100%;
    height: 70%;
    overflow: hidden;
    border-radius: 18px 18px 0 0;
}

.employee-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.employee-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 255, 0)70%, rgba(230, 194, 122, 0.725));
    pointer-events: none;
}

.employee-info {
    padding: 24px;
    color: #fff;
}

.employee h3 {
    font-size: 1.4em;
    color: #c9a856;
}

.employee h4 {
    font-size: 1.2em;
    font-weight: bold;
}

.employee p {
    font-size: 1em;
    color: #ccc;
}



/* Price list */
#services {
    text-align: center;
    padding: 8dvh 50px 0px 50px;
    display: block;
}

#services h2 {
    margin-top: 30px;
    font-size: 2em;
}

.service-list {
    max-width: 800px;
    margin: auto;
}

.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c9a856;
    padding: 12px 0;
}

.service-info {
    text-align: left;
}

.service h3 {
    margin: 0;
    font-size: 1.2em;
}

.service p {
    margin: 5px 0;
    color: #ccc;
}

.price {
    font-weight: bold;
    color: #c9a856;
    padding: 0 0 0 7px;
}

.service.hidden {
    display: none;
}

.service-list.expanded .service.hidden {
    display: flex;
}

.expand-services {
    background: #c9a856;
    color: #161616;
    padding: 10px 20px;
    border-radius: 18px;
    border: solid 2px #c9a856;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.expand-services:hover {
    background: rgb(230, 194, 122);
    transform: scale(1.05) translateY(5px);
}

.services-action {
    display: inline-flex;
}

.services-action img {
    width: 19px;
    margin-left: 10px;
    transform: rotate(90deg);
}



/* Gallery */
#gallery {
    text-align: center;
    display: block;
    padding: 8dvh 10px 0px 10px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Výchozí: 4 sloupce, 2 řádky */
    grid-template-rows: repeat(2, auto);
    gap: 15px;
    max-width: 900px;
    margin: auto;
    padding-top: 20px;
    width: 100%;
}

.gallery-item {
    width: 100%;
    aspect-ratio: 3 / 4; /* Poměr stran 3:4 */
    object-fit: cover;
    border-radius: 18px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3);
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    max-width: 80%;
    max-height: 80%;
    border-radius: 18px;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}



/* Reviews */
#reviews {
    display: block;
}

.reviews-action {
    display: inline-flex;
    transition: 0.5s;

    padding: 10px 20px;
    border: solid 2px#c9a85600;
    border-radius: 18px;
}

.reviews-action:hover,
.reviews-action:active {
    transform: translateX(20px);
    
    background: rgb(230, 194, 122);
    border: solid 2px#c9a856;
    border-radius: 18px;
}

#reviews h3 img{ /* action arrow */
    width: 19px;
    padding-top: 3px;
    margin: 2px 2px 2px 6px;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    max-width: 500px;
    margin: auto;
}

.reviews-wrapper {
    overflow: hidden;
    width: 100%;
    border-radius: 18px;
}

.reviews-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.review {
    min-width: 100%;
    background: #222222;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
}

.review-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.review-content h3 {
    color: #c9a856;
    margin: 0;
}

.carousel-button {
    background: none;
    border: none;
    font-size: 24px;
    margin: 0 15px;
    color: #c9a856;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}



/* Contact */
#contact {
    display: block;
    min-height: 0;
}

#contact iframe {
    width: 100%;
    height: 450px;
    padding: 0 3dvh;
}



/* FAQ */
.faq-wrap {
    padding-top: 8dvh;
    display: block;
}

.faq-wrap h2 {
    padding-bottom: 10px;
}

.faq-wrap p {
    text-align: center;
}

.faq {
    width: 100%;
    max-width: 800px; /* Maximální šířka pro FAQ sekci */
    margin: 0 auto; /* Centrování sekce FAQ */
    padding: 0px 20px 0px 20px; /* Padding pro celou sekci */
    padding-bottom: 8dvh;
    display: block;
}

.faq p {
    font-size: 1rem;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.faq-item {
    border-bottom: 1px solid #c9a856;
    padding: 17px 0;
    display: flex;
    flex-direction: column;
    width: 100%; /* Nastavení šířky na 100% */
}

.faq-question {
    display: flex;
    padding: 3px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #FFFFF3;
    width: 100%; /* Šířka otázky přes celý blok */
}

.faq-answer {
    display: none;
    padding-top: 5px;
    color: #CCCCCC;
    opacity: 0; /* Inicializace opacity pro animaci */
    transform: translateY(-10px); /* Posun pro animaci */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Přidání přechodu pro opacity a transformaci */
    text-align: justify;
    max-width: 100%; /* Roztažení odpovědi přes celý blok */
}

.faq-answer p {
    text-align: justify;
    margin: 0; /* Nastaví odsazení na 0 pro správné zarovnání */
}

.faq-item.active .faq-answer {
    display: block;
    opacity: 1; /* Zviditelnění odpovědi */
    transform: translateY(0); /* Vrátí se na původní pozici */
}

.arrow img {
    width: 20px;
    transition: transform 0.5s;
}

.faq-item.active .arrow {
    transform: rotate(180deg);
    transition: 0.5s;
}



/* Footer */
footer {
    background: #161616;
    border-top: 2px solid #c9a856;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    padding: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    margin: 10px;
}

.footer-column h3 {
    color: #c9a856;
}

.footer-column a {
    color: #FFFFF3;
    text-decoration: none;
    transition: 0.5s;
}

.footer-column a:hover {
    color: #c9a856;
}

.footer-contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.contact-icon {
    width: 12px;
    margin: 2px;
    display: block;
}

.social a {
    display: inline-flex;
    justify-content: center;
}

.social img {
    width: 25px;
    margin: 2px;
    transition: transform 0.5s ease;
}

.social img:hover {
    transform: scale(1.1);
}

.copyright {
    padding: 20px 0;
    border-top: 2px solid #c9a856;
}



/* Responzivita pro střední obrazovky (max-width: 1024px) */
   @media (max-width: 1024px) {
    /* GALLERY */
    .gallery-container {
        grid-template-columns: repeat(3, 1fr); /* 3 sloupce */
        grid-template-rows: repeat(3, auto); /* 3 řádky */
        max-width: 700px;
    }
}

/*  Responzivita pro menší obrazovky (max-width: 768px) */
@media (max-width: 768px) {
    .burger-menu {
        display: flex; /* Zobrazení burger menu */
    }

    nav {
        position: absolute;
        top: 8dvh;
        right: 0;
        width: 100%;
        background: #161616e6;
        display: none; /* Skrytí navigace */
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        z-index: 1000;
    }

    nav.open {
        display: flex; /* Zobrazení navigace */
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0;
        padding: 0;
        width: 100%;
        align-items: center;
    }

    nav ul li {
        display: block;
        text-align: center;
        width: 100%;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        display: block;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }

    .cta-button {
        margin-top: 20px;
    }

    /* ABOUT */
    .employee-container {
        flex-direction: column;
        align-items: center;
    }

    /* GALLERY */
    .gallery-container {
        grid-template-columns: repeat(2, 1fr); /* 2 sloupce */
        grid-template-rows: repeat(4, auto); /* 4 řádky */
        max-width: 500px;
    }
}

/* Responzivita pro úzké displeje (max-width: 480px) */
@media (max-width: 480px) {
    /* Price list */
    #services {
    padding: 8dvh 10px 0px 10px;
    }

    /* GALLERY */
    .gallery-container {
        max-width: 350px;
        gap: 10px; /* Menší mezera mezi položkami */
    }

    /* FOOTER */
    .footer-container {
        padding: 10px;
    }
}